@using Abp.Web.Mvc.Extensions


@model Xocv.Web.Areas.Mpa.Models.Dynasty.ScreeningsResultsViewModel

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Screening/Index.min.css")
}

@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Screening/ScreeningsResults.js")
    @*<script type="text/javascript" src="/Areas/Mpa/Views/Screening/ScreeningsResults.js"></script>*@
}


<div class="row margin-bottom-5">
	<div class="col-xs-6">
		<div class="page-head">
			<div class="page-title">
				<h1>
					<span>Screenings' results</span> <small>@L("ScreeningsResults")</small>
				</h1>
			</div>
		</div>
	</div>
</div>

<div class="portlet light margin-bottom-0">
    <div class="portlet-body">

        <div class="form">
            <form class="horizontal-form">
                <div class="form-body" enter-key="vm.getCompanies()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">

                            <div class="col-xs-12 col-md-12 col-lg-8 form-group">
                                <button type="button" class="btn blue _actionButton" data-action="dateFilter"
                                        data-filter="today" >Today</button>
                                <button type="button" class="btn blue _actionButton" data-action="dateFilter"
                                        data-filter="week" >Current Week</button>
                                <br class="row visible-xs-block"/><br class="row visible-xs-block"/>
                                <button type="button" class="btn blue _actionButton" data-action="dateFilter"
                                        data-filter="currentMonth" >Current Month</button>
                                <button type="button" class="btn blue _actionButton" data-action="dateFilter"
                                        data-filter="prevMonth" >Previous Month</button>
                            </div>

                            <div class="col-xs-12 col-md-6 col-lg-4 form-group">
                                <select id="filterPractice" class="form-control" name="practice">

                                    <option value="" selected="selected">Select Practice</option>

                                    @if (Model.OrganisationUnits != null)
                                    {
                                        foreach (var item in Model.OrganisationUnits)
                                        {
                                            <option value="@item.Key">@item.Value</option>
                                        }
                                    }

                                </select>
                            </div>

                            <div class="row col-xs-12 col-md-6 col-lg-4 form-group">
                                <div class="col-xs-6 ">
                                    <div class="input-group date" data-provide="datepicker">
                                        <input id="filterStart" type="text" class="form-control norightborder"
                                               name="start" placeholder="Start Date">
                                        <div class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 ">
                                    <div class="input-group date" data-provide="datepicker">
                                        <input id="filterEnd" type="text" class="form-control norightborder"
                                               name="end" placeholder="End Date">
                                        <div class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row col-xs-12 col-md-8 col-lg-5 text-center">
                                <div class="col-xs-12 col-md-6 form-group">
                                    <input id="filterName" type="text" class="form-control col-xs-6 norightborder "
                                           name="name" placeholder="Name">
                                </div>
                                <div class="col-xs-12 col-md-6 form-group">
                                    <select class="form-control" id="filterScreening" name="screening">

                                       <option value="" selected="selected">Select Screening</option>
                                    
                                        @if (Model.ListScreening != null)
                                        {
                                            foreach (var item in Model.ListScreening)
                                            {
                                                <option value="@item.Key">@item.Value</option>
                                            }
                                        }

                                    </select>
                                </div>
                            </div>

                            <div class=" col-xs-12 col-md-4 col-lg-3 form-group">
                                <div class="col-xs-6 form-contol">
                                    <button id="searchButton" type="button" class="btn blue">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                </div>
                                <div class="col-xs-6 form-contol">
                                    @*<button id="csv" type="button" class="btn blue">
                                        <i class="fa fa-list"></i> CSV
                                    </button>*@
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </form>
        </div>
        <div id="ScreeningsResultsTable"></div>

        @*Html.DropDownList(
            "OrganisationUnitId", Model.OrganisationUnits.Select(i => i.ToSelectListItem()),
            new
            {
                @class = "form-control selectpicker filterDD",
                data_live_search = "true",
                data_none_selected_text = L("FilterByOrganisationUnit"),
                id = "OrganisationUnitId"
            }
        )*@
        @*<div>@Html.ActionLink("Generate New Patients", "GeneratePatiens")</div>
        <table class="table">
            <tr>
                <th>#</th>
                <th>Date/Time</th>
                <th>Account</th>
                <th>Patient</th>
                <th>Clinician</th>
                <th>Payor</th>
                <th>Screening</th>
                <th>Cost</th>
                <th>Total Score</th>
                <th>Result</th>

            </tr>
            @foreach (var item in Model.ListPatient)
            {
                if (Model.ListPatient != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>

                        <td>item.OrganizationUnit.DisplayName</td>

                        <td>@Html.ActionLink("Details", "PatientDetails", new { id = item.Id })</td>

                        <td></td>

                        <td></td>

                        <td></td>

                        <td></td>

                        <td></td>

                    </tr>
                }

            }

        </table>
    </div>*@

</div>

<!-- Modal -->
<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content panel ">
			<div class="modal-header panel-heading">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<div class="modal-body">
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
					     aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						<span class="sr-only">45% Complete</span>
					</div>
				</div>
				<div id="result"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>